.repo {
  background-color: rgb(49, 0, 155);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repo > a {
  text-decoration: none;
  color: white;
}

.user {
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}